@font-face { 
	src: url("../fonts/KaushanScript-Regular.woff2") format("woff2"); 
	font-family: "kaushan-st"; 
	font-weight: 400; 
	font-style: normal; 
}

@font-face { 
	src: url("../fonts/Ramaraja-Regular.woff2") format("woff2"); 
	font-family: "ramaraja-st"; 
	font-weight: 400; 
	font-style: normal; 
}

@font-face { 
	src: url("../fonts/Poppins-Light.woff2") format("woff2"); 
	font-family: "poppins-st"; 
	font-weight: 300; 
	font-style: normal; 
}

@font-face { 
	src: url("../fonts/Poppins-Regular.woff2") format("woff2"); 
	font-family: "poppins-st"; 
	font-weight: 400; 
	font-style: normal; 
}

@font-face { 
	src: url("../fonts/Poppins-Medium.woff2") format("woff2"); 
	font-family: "poppins-st"; 
	font-weight: 500; 
	font-style: normal; 
}

@font-face { 
	src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"); 
	font-family: "poppins-st"; 
	font-weight: 600; 
	font-style: normal; 
}

@font-face { 
	src: url("../fonts/Poppins-Bold.woff2") format("woff2"); 
	font-family: "poppins-st"; 
	font-weight: 700; 
	font-style: normal; 
}

@font-face { 
	src: url("../fonts/Manrope-Bold.woff2") format("woff2"); 
	font-family: "manrope-st"; 
	font-weight: 700; 
	font-style: normal; 
}

