$accent: #F1B144;
$text: #fff;
$background-special: #2D2D2D;
$special-color-text: #868490;
$regular-text: 20px;
$lineheight: 1.65;
$userfont: poppins-st, sans-serif;
$content-width: 1420px;
$transition: .25s ease-out;

$breakpoint_xxl: 1251px;
$breakpoint_xl: 1025px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;


