@include desktop() {
	.header {
		&-active {
			position: sticky;
			top: 0;
			opacity: 1;
			transform: translateY(0);
		}
	}
}

@include laptop() {
	.header {
	 &__inner {
		 display: none;
	 }
	}
	.mobile-menu {
		display: block;
	}

}

@include tablet() {
	header {
	
	}
}

@include mobile() {
	header {
	
	}
}
