@import '../../../scss/_variables';

.input {
	padding: 10px 20px;
	border: 2px solid transparent;
	margin-bottom: 10px;
	border-radius: 10px;
	transition: $transition;
	width: 100%;
}
.input:focus {
	border: 2px solid $accent;
}
.labelWrapper {
	display: flex;
	padding-left: 10px;
}
