@import '../../../scss/_variables';

.backVideo {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
	animation: openPageA 0.5s 1;
}
.backImageMobile {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
	animation: openPageA 0.5s 1;
}

@keyframes openPageA {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@import './LoginMedia.module.scss';
